[submodule "MySQLConnections"]
	path = MySQLConnections
	url = https://github.com/sellsword9/Rust--Template--ActixWeb_MySQL_Connections
[submodule "Rust--Template--ActixWeb_BasicStructure"]
	path = Rust--Template--ActixWeb_BasicStructure
	url = https://github.com/sellsword9/Rust--Template--ActixWeb_BasicStructure
[submodule "Using_json-server"]
	path = Using_json-server
	url = https://github.com/Sellsword9/Rust--Template--Actix_with_Node_json_server
[submodule "Actix-basic"]
	path = Actix-basic
	url = https://github.com/Sellsword9/Rust--Template--ActixWeb_BasicStructure
